@model ViewTableroLista

<h1>Lista Tableros</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Id Usuario Propietario</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tablero in Model.ViewTableros)
        {
            <tr>
                <td>@tablero.Id</td>
                <td>@tablero.IdUsuarioPropietario</td>
                <td>@tablero.Nombre</td>
                <td>@tablero.Descripcion</td>
                <td>
                    <a asp-controller="Tablero" asp-action="ModificarTablero"
                        asp-route-idtablero="@tablero.Id">Modificar</a>
                </td>
                <td>
                    <a asp-controller="Tablero" asp-action="EliminarTablero" asp-route-idtablero="@tablero.Id"
                        onclick="return confirm('¿Quiere eliminar el elemento?')">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>