@model Tarea

<form asp-controller="Tarea" asp-action="EliminarTarea">
    <div class="text-center">
        <div class="mb-3">
            <label asp-for="@Model.Id" class="form-group">Id</label>
            <input asp-for="@Model.Id" value="@Model.Id" readonly>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Nombre" class="form-group">Nombre</label>
            <input asp-for="@Model.Nombre" readonly>
        </div>

        <div class="mb-3">
            <button type="submit" onclick="return confirm('¿Quiere eliminar el elemento?')" class="link-danger">Eliminar
                Tarea</button>
            <button><a asp-controller="Tarea" asp-action="ListarTarea" class="link-secondary">Cancelar</a></button>
        </div>
    </div>
</form>