@model ViewTareaLista

<h1>Lista Tareas</h1>

<table class="table table-bordered border-secondary">
    <thead class="table-light">
        <tr class="text-center">
            <th>ID Tarea</th>
            <th>ID Tablero</th>
            <th>Nombre</th>
            <th>Estado</th>
            <th>Descipcion</th>
            <th>Color</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tarea in Model.ViewTareas)
        {
            <tr class="text-center">
                <td>@tarea.Id</td>
                <td>@tarea.IdTablero</td>
                <td>@tarea.Nombre</td>
                <td>@tarea.Estado</td>
                <td>@tarea.Descripcion</td>
                <td>@tarea.Color</td>
                <td>
                    <a asp-controller="Tarea" asp-action="ModificarTarea" asp-route-idBuscado="@tarea.Id"
                        class="link-info">Modificar</a>
                </td>
                <td>
                    <a asp-controller="Tarea" asp-action="EliminarTarea" asp-route-idBuscado="@tarea.Id"
                        class="link-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<footer>
    <a asp-controller="Tarea" asp-action="CrearTarea">Agregar tarea nueva</a>
</footer>