@{
    ViewData["Title"] = "Usuario";
}

@model ViewUsuarioAgregar

<form asp-controller="Usuario" asp-action="CrearUsuario" method="post">
    <div class="form-group">
        <label asp-for="@Model.NombreDeUsuario">Nombre de usuario</label>
        <input asp-for="@Model.NombreDeUsuario" class="form-control" required maxlength="25">
    </div>
    <div class="form-group">
        <label asp-for="@Model.Contrasenia">Contraseña</label>
        <input type="password" asp-for="@Model.Contrasenia" required>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Rol">Rol</label>
        <select asp-for="@Model.Rol">
            <option value="Operador">Operador</option>
            <option value="Administrador">Administrador</option>
        </select>
    </div>
    <button type="submit">Enviar</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}