@model ViewUsuarioLista

<h1>Lista Usuario</h1>

<table class="table table-bordered border-secondary">
    <thead class="table-light">
        <tr class="text-center">
            <th>ID</th>
            <th>Nombre</th>
            <th>Rol</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model.ViewUsuarios)
        {
            <tr class="text-center">
                <td>@usuario.Id</td>
                <td>@usuario.NombreDeUsuario</td>
                <td>@usuario.Rol</td>
                <td>
                    <a asp-controller="Usuario" asp-action="ModificarUsuario" asp-route-idBuscado="@usuario.Id"
                        class="link-info">Modificar</a>
                </td>
                <td>
                    <a asp-controller="Usuario" asp-action="EliminarUsuario" asp-route-idBuscado="@usuario.Id"
                        class="link-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<footer>
    <a asp-controller="Usuario" asp-action="CrearUsuario">Agregar usuario nuevo</a>
</footer>