@model List<Usuario>

<h1>Lista Usuario</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Rol</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model)
        {
            <tr>
                <td>@usuario.Id</td>
                <td>@usuario.NombreDeUsuario</td>
                <td>@usuario.Rol</td>
                <td>
                    <a asp-controller="Usuario" asp-action="ModificarUsuario"
                        asp-route-idUsuario="@usuario.Id">Modificar</a>
                </td>
                <td>
                    <a asp-controller="Usuario" asp-action="EliminarUsuario" asp-route-idUsuario="@usuario.Id"
                        onclick="return confirm('¿Quiere eliminar el elemento?')">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>