@model ViewUsuarioUpdate

<form asp-controller="Usuario" asp-action="ModificarUsuario" method="post">
    <div>
        <label asp-for="@Model.Id">Id</label>
        <input asp-for="@Model.Id" value="@Model.Id">
    </div>
    <div class="form-group">
        <label asp-for="@Model.NombreDeUsuario">Nombre de usuario</label>
        <input asp-for="@Model.NombreDeUsuario" required maxlength="25">
    </div>
    <div class="form-group">
        <label asp-for="@Model.Contrasenia">Contrasenia</label>
        <input type="password" asp-for="@Model.Contrasenia" required>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Rol">Rol</label>
        <select asp-for="@Model.Rol">
            <option value="Operador" selected>Operador</option>
            <option value="Administrador">Administrador</option>
        </select>
    </div>

    <button type="submit">Enviar</button>
</form>